@{
    ViewBag.Title = "Contact";
}
<div class="row">
    Message from TCP Service:<p>@ViewBag.SayHello</p><br />
    Today Program is:<p>@ViewBag.TodayProgram</p>
</div>
@Html.ActionLink("Back to Home", "Index")