@{
    ViewBag.Title = "Home Page";
}
<h3>Task 1</h3>
<br />
<div class="row">
    @Html.ActionLink("Http Request", "About", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row">
    @Html.ActionLink("TCP Request", "Contact", null, new { @class = "btn btn-primary" })
</div>
<br />
<h3>Task 2</h3>
<br />
<div class="row">
    @Html.ActionLink("Job Opening", "JobOpening", null, new { @class = "btn btn-primary" })
</div>
<br />
<form method="post" action="/Home/JobOpening">
    <div class="row">
        <select class="form-control" id="ddlRole" name="Role">
            <option value="Developer">Developer</option>
            <option value="Lead">Lead</option>
            <option value="Manager">Manager</option>
        </select>

        <br />
        <input type="submit" value="Job Opening By role" class="btn btn-primary" />
    </div>
</form>

<br />
<h3>Calculator</h3>
<form action="/Home/Calculate" method="post">
    <input type="text" id="txta" name="input1" class="form-control" />
    <input type="text" id="txtb" name="input2" class="form-control" />
    <br />
    <input type="submit" value="Add" name="action" class="btn btn-success" />
    <input type="submit" value="Subtract" name="action" class="btn btn-warning" />
    <input type="submit" value="Multiply" name="action" class="btn btn-danger" />
    <input type="submit" value="Divide" name="action" class="btn btn-primary" />
    <br />
    <p>The Result is: </p>@ViewBag.result
</form>